@{
    ViewBag.Title = "Home Page";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Natalie Korobkina</title>

    <!-- Bootstrap Core CSS -->
    <link href="~/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="~/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="~/vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

    <!-- NuGet package CSS -->
    <link href="~/Content/SyntaxHighlighter/shCore.css" rel="stylesheet" type="text/css">
    <link href="~/Content/SyntaxHighlighter/shThemeFadeToGrey.css" rel="stylesheet" type="text/css">

    <!-- Theme CSS -->
    <link href="~/css/creative.css" rel="stylesheet">


</head>

<body id="page-top">

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars fa-sm"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top"><i class="fa fa-home fa-2x"></i></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#portfolio">Portfolio</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1>Natalie Korobkina</h1>
                <h2 id="homeHeading">Full-Stack Developer</h2>
                <hr>
                <p>I'm a novice Web-developer, opened for job opportunities.</p>
                <a href="https://drive.google.com/open?id=1Ln5_TT5MRylYHG_HwpldCkGU7U3OGwXo" class="btn btn-primary btn-xl" target="_blank">My Resume</a>
            </div>
        </div>
    </header>

    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-justify">
                    <h2 class="section-heading text-center">About me</h2>
                    <hr class="light">
                    <p class="text-faded text-justify">
                        I'm a Junior Web developer able to build a Web sites from the scratch,
                        beginnig from concept, navigation and programming. I am skilled at writing well-designed,
                        testable and efficient code using current best practices in Web development.
                        Fast learner, hard worker and team player who is highly familiar in an array of Web tools
                        such as HTML, CSS, REACT, AJAX, JSON, VCS Git and JavaScript as a primary scripting language.
                    </p>
                </div>
                <div class="col-lg-12 text-center">
                    <a href="https://www.linkedin.com/in/natalie-korobkina-3b0539104" class="btn btn-primary btn-xl" target="_blank">My LinkedIn Profile</a>

                </div>
            </div>
        </div>
    </section>

    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <h2 class="section-heading text-center">Portfolio</h2>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-sm-6 portfolio">
                    <a href="https://nataliekorobkina.github.io/Budget-Calculator" target="_blank" class="portfolio-box">
                        <img src="~/img/portfolio/thumbnails/1.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-name" data-toggle="popover" title="Used technologies:" data-content="HTML, CSS, JavaScript, Git">
                                    Budget Calculator
                                </div>
                                <div class="project-category text-faded">
                                    General Applications
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6 portfolio">
                    <a href="https://nataliekorobkina.github.io/Memory-Game" target="_blank" class="portfolio-box">
                        <img src="~/img/portfolio/thumbnails/2.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-name" data-toggle="popover" title="Used technologies:" data-content="HTML, CSS, JavaScript, Git">
                                    Memory Game
                                </div>
                                <div class="project-category text-faded">
                                    Games
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6 portfolio">
                    <a href="https://nataliekorobkina.github.io/frogger-game-gulp" target="_blank" class="portfolio-box">
                        <img src="~/img/portfolio/thumbnails/3.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-name" data-toggle="popover" title="Used technologies:" data-content="HTML, CSS, JavaScript, Gulp, Gulp plugins">
                                    Frogger Game
                                </div>
                                <div class="project-category text-faded">
                                    Games
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6 portfolio">
                    <a href="https://nataliekorobkina.github.io/movie-searcher" target="_blank" class="portfolio-box">
                        <img src="~/img/portfolio/thumbnails/4.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-name" data-toggle="popover" title="Used technologies:" data-content="HTML, CSS, JavaScript, AJAX for APIs, JSON">
                                    Movie Searcher
                                </div>
                                <div class="project-category text-faded">
                                    General Applications
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6 portfolio">
                    <a href="https://nataliekorobkina.github.io/Pig-Game" target="_blank" class="portfolio-box">
                        <img src="~/img/portfolio/thumbnails/5.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-name" data-toggle="popover" title="Used technologies:" data-content="HTML, CSS, JavaScript, Git">
                                    Pig Game
                                </div>
                                <div class="project-category text-faded">
                                    Games
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6 portfolio">
                    <!-- Modal -->
                    <div class="modal fade" id="JsExs" tabindex="-1" role="dialog" aria-labelledby="modalLabel">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h1 class="modal-title" id="modalLabel">JavaScript Exercises</h1>
                                </div>
                                <div class="modal-body">
                                    <ul class="nav nav-tabs nav-justified">
                                        <li class="active"><a data-toggle="tab" href="#ex-1">Exercise1</a></li>
                                        <li><a data-toggle="tab" href="#ex-2">Exercise2</a></li>
                                        <li><a data-toggle="tab" href="#ex-3">Exercise3</a></li>
                                        <li><a data-toggle="tab" href="#ex-4">Exercise4</a></li>
                                    </ul>
                                    <div class="tab-content">
                                        <div id="ex-1" class="tab-pane fade in active">
                                            <h3>Actions with numbers</h3>
                                            <div class="row">
                                                <div class="col-md-2">
                                                    <form id="numbers-calc">
                                                        <div class="form-group">
                                                            <input type="text" class="form-control" id="input1-numbers" placeholder="number">
                                                        </div>
                                                        <div class="form-group">
                                                            <input type="text" class="form-control" id="input2-numbers" placeholder="number">
                                                        </div>
                                                        <div class="form-group">
                                                            <input type="text" class="form-control" id="input3-numbers" placeholder="number">
                                                        </div>
                                                        <div class="form-group">
                                                            <input type="text" class="form-control" id="input4-numbers" placeholder="number">
                                                        </div>
                                                        <div class="form-group">
                                                            <input type="text" class="form-control" id="input5-numbers" placeholder="number">
                                                        </div>
                                                        <button type="submit" class="btn" id="btn-numbers">Calculate</button>
                                                    </form>
                                                </div>
                                                <div class="col-md-8 col-md-offset-2 js-exercises">
                                                    <div id="rslt-least"></div>
                                                    <div id="rslt-greatest"></div>
                                                    <div id="rslt-mean"></div>
                                                    <div id="rslt-sum"></div>
                                                    <div id="rslt-product"></div>
                                                </div>
                                                <div class="col-md-12 js-exercises" style="text-align:center">
                                                    <button type="button" class="btn" id="btn-ex1-code">Show code</button>
                                                </div>
                                            </div>
                                            <div class="js-exercises" id="ex1-code" style="display:none">
                                                <pre class="brush:js;">
                                                    $("#numbers-calc").submit(function (e) {
                                                        e.preventDefault();
                                                        let arrInputs = [];
                                                        arrInputs[0] = parseInt($("#input1-numbers").val());
                                                        arrInputs[1] = parseInt($("#input2-numbers").val());
                                                        arrInputs[2] = parseInt($("#input3-numbers").val());
                                                        arrInputs[3] = parseInt($("#input4-numbers").val());
                                                        arrInputs[4] = parseInt($("#input5-numbers").val());

                                                        if (!arrInputs[0] || !arrInputs[1] || !arrInputs[2] || !arrInputs[3] || !arrInputs[4]) {
                                                            $("#rslt-least").text("All fields should be filled, just numbers are accepted!");
                                                        } else {
                                                            let sum = arrInputs.reduce(function (total, num) { 
                                                                return total + num; 
                                                            });
                                                            //least number
                                                            $("#rslt-least").text("Least number is: " + Math.min(...arrInputs));
                                                            //greatest number
                                                            $("#rslt-greatest").text("Greatest number is: " + Math.max(...arrInputs));
                                                            //the sum of the numbers
                                                            $("#rslt-sum").text("The sum of the numbers is: " + sum);
                                                            //the mean of the numbers
                                                            $("#rslt-mean").text("The mean of the numbers is: " + sum / 5);
                                                            //the product of the numbers
                                                            $("#rslt-product").text("The product of the numbers is: " + (arrInputs.reduce(function (total, num) { 
                                                                return total * num 
                                                            })));
                                                        }
                                                    });
                                                </pre>
                                            </div>
                                            <hr />
                                        </div>
                                        <div id="ex-2" class="tab-pane fade">
                                            <h3>Factorial</h3>
                                            <div class="row">
                                                <div class="col-md-2">
                                                    <form id="factorial-calc">
                                                        <div class="form-group">
                                                            <input type="text" class="form-control" id="inp-factorial" placeholder="number">
                                                        </div>
                                                        <button type="submit" class="btn" id="btn-factorial">Calculate</button>
                                                    </form>
                                                </div>
                                                <div class="col-md-8 col-md-offset-2 js-exercises">
                                                    <div id="rslt-factorial"></div>
                                                </div>
                                                <div class="col-md-12 js-exercises" style="text-align:center">
                                                    <button type="button" class="btn" id="btn-ex2-code">Show code</button>
                                                </div>
                                            </div>
                                            <div class="js-exercises" id="ex2-code" style="display:none">
                                                <pre class="brush:js;">
                                                     $("#factorial-calc").submit(function (e) {
                                                        e.preventDefault();
                                                        if (!parseInt($("#inp-factorial").val())) {
                                                            $("#rslt-factorial").text("The field should be filled, just a number is accepted!");
                                                        } else {
                                                            let result = 1;
                                                            for (i = parseInt($("#inp-factorial").val()); i > 1; i--) {
                                                                result *= i;
                                                            }
                                                            $("#rslt-factorial").text(`Factorial is: ${result}`);
                                                        }
                                                    });
                                                </pre>
                                            </div>
                                            <hr />
                                        </div>
                                        <div id="ex-3" class="tab-pane fade">
                                            <h3>Multiples</h3>
                                            <div class="row">
                                                <div class="col-md-2">
                                                    <form id="fb-calc">
                                                        <div class="form-group">
                                                            <input type="text" class="form-control" id="inp1-fb" placeholder="number">
                                                        </div>
                                                        <div class="form-group">
                                                            <input type="text" class="form-control" id="inp2-fb" placeholder="number">
                                                        </div>
                                                        <button type="submit" class="btn" id="btn-fb">Print</button>
                                                    </form>
                                                </div>
                                                <div class="col-md-8 col-md-offset-2 js-exercises" id="rslt-fb">
                                                </div>
                                                <div class="col-md-12 js-exercises" style="text-align:center">
                                                    <button type="button" class="btn" id="btn-ex3-code">Show code</button>
                                                </div>
                                            </div>
                                            <div class="js-exercises" id="ex3-code" style="display:none">
                                                <pre class="brush:js;">
                                                    $("#fb-calc").submit(function (e) {
                                                        e.preventDefault();
                                                        let input1Multiples = parseInt($("#inp1-fb").val());
                                                        let input2Multiples = parseInt($("#inp2-fb").val());
                                                        if (!input1Multiples || !input2Multiples) {
                                                            $("#rslt-fb").text("All fields should be filled, just numbers are accepted!");
                                                        } else {
                                                            let allNumbers = [];
                                                            for (i = 1; i <= 100; i++) {
                                                                if (!(i % input1Multiples) && !(i % input2Multiples)) {
                                                                    allNumbers.push("FizzBuzz");
                                                                } else if (!(i % input1Multiples)) {
                                                                    allNumbers.push("Fizz");
                                                                } else if (!(i % input2Multiples)) {
                                                                    allNumbers.push("Buzz");
                                                                } else {
                                                                    allNumbers.push(i);
                                                                }
                                                            }
                                                            let newString = allNumbers.join(', ');
                                                            $("#rslt-fb").text(newString);
                                                        }
                                                    });
                                                </pre>
                                            </div>
                                            <hr />
                                        </div>
                                        <div id="ex-4" class="tab-pane fade">
                                            <h3>Polidrome</h3>
                                            <div class="row">
                                                <div class="col-md-2">
                                                    <form id="polidrome-calc">
                                                        <div class="form-group">
                                                            <input type="text" class="form-control" id="inp-polidrome" placeholder="word">
                                                        </div>
                                                        <button type="submit" class="btn" id="btn-polidrome">Is Polidrome?</button>
                                                    </form>
                                                </div>
                                                <div class="col-md-8 col-md-offset-2 js-exercises" id="rslt-polidrome">
                                                </div>
                                                <div class="col-md-12 js-exercises" style="text-align:center">
                                                    <button type="button" class="btn" id="btn-ex4-code">Show code</button>
                                                </div>
                                            </div>
                                            <div class="js-exercises" id="ex4-code" style="display:none">
                                                <pre class="brush:js;">
                                                    $("#polidrome-calc").submit(function (e) {
                                                        e.preventDefault();
                                                        let initialString = $("#inp-polidrome").val();
                                                        let reverseString = initialString.split("").reverse().join("");
                                                        if (!isNaN(initialString) || initialString === "") {
                                                            $("#rslt-polidrome").text("The field should be filled. Just a word is accepted!");
                                                        } else {
                                                            if (initialString === reverseString) {
                                                                $("#rslt-polidrome").text(`Your word is a Palindrome. Reverse string is "${reverseString}"`);
                                                            } else {
                                                                $("#rslt-polidrome").text(`Your word is NOT a Palindrome. Reverse string is "${reverseString}"`);
                                                            }
                                                        }
                                                    });
                                                </pre>
                                            </div>
                                            <hr />
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <a href="" data-toggle="modal" data-target="#JsExs" class="portfolio-box">
                        <img src="~/img/portfolio/thumbnails/6.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-name" data-toggle="popover" title="Used technologies:" data-content="HTML, CSS, Bootstrap, JavaScript, MVC">
                                    JavaScript Exercises
                                </div>
                                <div class="project-category text-faded">
                                    General Applications
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section class="no-padding" id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Contact me</h2>
                    <hr class="primary">
                    <p>Check my others works on my GitHub account.</p>
                    <p>Feel free send me an email and I will answer to you as soon as possible!</p>
                </div>
                <div class="col-lg-6 text-center">
                    <i class="fa fa-github-square fa-3x sr-contact"></i>
                    <p><a href="https://github.com/natalieKorobkina" target="_blank">github.com/natalieKorobkina</a></p>
                </div>
                <div class="col-lg-4 text-center">
                    <i class="fa fa-envelope-o fa-3x sr-contact"></i>
                    <p><a href="mailto:n.korobkina.888@gmail.com">n.korobkina.888@gmail.com</a></p>
                </div>
            </div>
        </div>
    </section>

    <!-- jQuery -->
    <script src="~/vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="~/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="~/vendor/scrollreveal/scrollreveal.min.js"></script>
    <script src="~/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

    <!-- NuGet package JavaScript -->
    <script type="text/javascript" src="~/Scripts/SyntaxHighlighter/shCore.js"></script>
    <script type="text/javascript" src="~/Scripts/SyntaxHighlighter/shBrushJScript.js"></script>
    <script type="text/javascript">
        SyntaxHighlighter.all()
    </script>

    <!-- Theme JavaScript -->
    <script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>
    <script type="text/javascript" src="~/Scripts/JSEx/JSExercises.js"></script>
    <script src="~/Scripts/creative.js"></script>
</body>

</html>